# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.eggs/
.Python

# Environments
.env
.venv/
venv/
ENV/
env.bak/
env/

# Jupyter/Colab
.ipynb_checkpoints
*.ipynb

# SQLite DBs
db/*.db

# Data files
data/*.csv

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build
build/
dist/
*.egg-info/


# Kaggle creds
.kaggle/
kaggle.json
